@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:700&display=swap');

* {
    margin: 0;
    padding: 0;
}

.portfolio {
    font-family: Lato, Helvetica, sans-serif;
    width: 1020px;
    height: 870px;
    background-color: #2d303a;
    border-bottom: 5px solid #323746;
}

h1 {
    font-family: Lato-bold, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: 700;
    color: #666d89;
    padding-top: 62px;
    padding-bottom: 24px;
    padding-left: 41px;
}

.portfolio__content {
    font-family: Lato-light, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #636983;
    padding-left: 41px;
    padding-bottom: 15px;
}

.tags {
    width: 287px;
    padding-left: 41px;
    padding-bottom: 18px;
}

.portfolio__tag-1 {
    font-size: 12px;
    text-decoration: none;
    text-align: center;
    width: 29px;
    height: 22px;
    border: 1px solid #666d89;
    border-radius: 5px;
    padding: 5px;
    color: #636983;
}

.portfolio__tag-2 {
    font-size: 12px;
    text-decoration: none;
    text-align: center;
    width: 78px;
    height: 22px;
    border: 1px solid #666d89;
    border-radius: 5px;
    padding: 5px;
    color: #636983;
}

.portfolio__tag-3 {
    font-size: 12px;
    text-decoration: none;
    text-align: center;
    width: 93px;
    height: 22px;
    border: 1px solid #666d89;
    border-radius: 5px;
    padding: 5px;
    color: #636983;
}

.portfolio__tag-4 {
    font-size: 12px;
    text-decoration: none;
    text-align: center;
    width: 29px;
    height: 57px;
    border: 1px solid #666d89;
    border-radius: 5px;
    padding: 5px;
    color: #636983;
}

.tags a:hover {
    transition: all 0.3s ease 0s;
    cursor: pointer;
    color: #dedede;
    border-color: #dedede;    
}

.portfolio__photos {
    width: 945px;
    height: 626px;
    display: flex;
    padding-left: 41px;
    overflow: hidden;
    flex-flow: row wrap;
    justify-content: space-between;
    
}

.portfolio__photos img {
    width: 224px;
    height: 190px;
}

.about-us__h1 {
    padding-top: 55px !important;
    padding-bottom: 19px !important;
}

.about-us__first-p {
    font-family: Lato-light, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.9;
    text-align: justify;
    color: #767e9e;
    width: 945px;
    padding-left: 41px;
    padding-bottom: 44px;
}

.about-us {
    width: 1020px;
    height: 728px;
    background-color: #f2f2f2;
    border-bottom: 5px solid #ffffff;
}

.about-us__info {
    padding-left: 41px;
    width: 945px;
    display: flex;
    justify-content: space-between;
}

.about-us__info-content {
    width: 302px;
}

.about-us__info-content img {
    padding-bottom: 10px;
}

h3 {
    font-family: Lato-bold, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: 700;
    color: #666d89;
    padding-bottom: 11px;
}

.about-us__text {
    font-family: Lato, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-align: justify;
    line-height: 1.7;
    color: #666d89;
    padding-bottom: 23px;
}

.about-us__media-buttons {
    width: 152px;
    display: flex;
    justify-content: space-between;
}



