* {
    font-family: Lato, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a {
    font-weight: 700;
    font-size: 9pt;
    color: #ffffff;
    text-decoration: none;
}

header {
    width: 1020px;
    height: 90px;
    background-color:#2d303a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 40px;
    border-bottom: solid;
    border-bottom-color: #323746;
}

.logo {
    cursor: pointer;
    font-weight: 700;
    font-size: 18pt;
    color: #ffffff;
}

.logo-red {
    color: #e36861;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 5px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    transition: all 0.3s ease 0s;
    color: #f06c64;
}

.nav__links-item {
    font-size: 5pt;
    color: #494E62;
}

.gallery {
    width: 1020px;
    height: 600px;
    background-color: #F06C64;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 42px 32px;
    border-bottom: solid;
    border-bottom-color: #EA676B;
}

.gallery__button {
    color:#CA4549;
    font-size: 35px;
    opacity: 1;
}

.our-services {
    width: 1020px;
    background-color: #F2F2F2;
    border-bottom: #FFFFFF;
}

h1 {
    font-size: 32px;
    padding-top: 68px;
    padding-left: 40px;
    color:#666D89;
}

h3 {
    font-size: 19px;
    padding-left: 80px;
    padding-bottom: 10px;
    color:#666D89;
}

.our-services__first-p {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.4;
    padding-top: 33px;
    padding-left: 40px;
    padding-right: 42px;
    text-align: left;
    text-overflow: clip;
    color: #767E9E;
}

.services-1 {
    padding-top: 51px;
    padding-left: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.services-2 {
    padding-top: 37px;
    padding-left: 40px;
    padding-bottom: 66px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.services__block {
    width: 300px;
    height: 85px;
    flex-grow: 1;
    text-overflow: clip;
}

.services__content {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.7;
    padding-left: 80px;
    padding-right: 32px;
    text-align: left;
    color: #767E9E;
}


.icons {
    float: left; 
}
